<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Black.ttf</string>
		<string>BlackItalic.ttf</string>
		<string>Bold.ttf</string>
		<string>BoldItalic.ttf</string>
		<string>ExtraBold.ttf</string>
		<string>ExtraBoldItalic.ttf</string>
		<string>ExtraLight.ttf</string>
		<string>ExtraLightItalic.ttf</string>
		<string>Italic.ttf</string>
		<string>Light.ttf</string>
		<string>LightItalic.ttf</string>
		<string>Medium.ttf</string>
		<string>MediumItalic.ttf</string>
		<string>Regular.ttf</string>
		<string>SemiBold.ttf</string>
		<string>SemiBoldItalic.ttf</string>
		<string>Thin.ttf</string>
		<string>ThinItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
